@page
@model WebUI.Pages.ProjectOwnerView.AssignTicketModel
@{
    <div class="container row p-0 m0">
        <div class="col-6">
            <span class="text-info">Here details for ticket assignment</span>
        </div>

        <div class="col">
            <h5 class="text-info">Request information</h5>

            <h5>Ticket title</h5>
            <span>@Model.AssignTicketVm.PendingRequestItemDto.Title</span>

            <h5>Steps to reproduce</h5>
            <span>@Model.AssignTicketVm.PendingRequestItemDto.StepsToReproduce</span>

            <h5>Expected results</h5>
            <span>@Model.AssignTicketVm.PendingRequestItemDto.ExpectedResult</span>

            <h5>Actual results</h5>
            <span>@Model.AssignTicketVm.PendingRequestItemDto.ActualResult</span>

            <h5>Author</h5>
            <span>@Model.AssignTicketVm.PendingRequestItemDto.Author</span>

        </div>
    </div>
}
