@page
@model WebUI.Pages.ProjectOwnerView.AssignTicketModel
@{
    <div class="container row p-0 m0">
        <div class="col-6">
            <h3 class="text-info">#@Model.AssignTicketVm.PendingRequestItemDto.Title</h3>
            <form method="post">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <!--Title input START-->
                @*<div class="form-group row">
                </div>*@
                <!--Ticket status START-->
                <div class="form-group row">
                    <label asp-for="@Model.AssignTicketCommand.TicketStatus">Ticket priority</label>
                    <select asp-for="@Model.AssignTicketCommand.TicketStatus" class="form-control" asp-items='@new SelectList(@Model.AssignTicketVm.TicketPriority,"Key","Value")'></select>
                    <span asp-validation-for="CreateRequestItemCommand.Title" class="text-danger field-validation-valid">Required</span>
                </div>
                <!--Ticket status END-->
                <!--Ticket priority START-->
                <div class="form-group row">
                    <label asp-for="@Model.AssignTicketCommand.TicketPriority">Ticket priority</label>
                    <select asp-for="@Model.AssignTicketCommand.TicketPriority" class="form-control" asp-items='@new SelectList(@Model.AssignTicketVm.TicketPriority,"Key","Value")'></select>
                </div>
                <!--Ticker priority END-->

            </form>
        </div>

        <div class="col">
            <h5 class="text-info">Request information</h5>

            <h5>Ticket title</h5>
            <span>@Model.AssignTicketVm.PendingRequestItemDto.Title</span>

            <h5>Steps to reproduce</h5>
            <span>@Model.AssignTicketVm.PendingRequestItemDto.StepsToReproduce</span>

            <h5>Expected results</h5>
            <span>@Model.AssignTicketVm.PendingRequestItemDto.ExpectedResult</span>

            <h5>Actual results</h5>
            <span>@Model.AssignTicketVm.PendingRequestItemDto.ActualResult</span>

            <h5>Author</h5>
            <span>@Model.AssignTicketVm.PendingRequestItemDto.Author</span>

        </div>
    </div>
}
