@page
@model BugTrackerWeb.Pages.ProjectOwnerView.IndexModel
@{
    <p>This is an initial view for ProjectOwner</p>
    <br />
    <br />
    <div class="col-6">
        <h2 class="text-info">Projects List</h2>
    </div>
    if (Model.ProjectOwner.Projects.Count > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    <label asp-for="ProjectOwner.Projects.FirstOrDefault().Name"></label>
                </th>
                <th>
                    <label asp-for="ProjectOwner.Projects.FirstOrDefault().Description"></label>
                </th>
            </tr>
            @foreach (var p in Model.ProjectOwner.Projects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => p.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => p.Description)
                    </td>
                    <td>
                        @*<a asp-page="ProjectDetails" asp-route-id="@p.Id">Details</a>*@
                        <button class="btn btn-info form-control" onclick="loadProjectDetails(@p.Id)">Details</button>
                    </td>
                    <td>
                        <a class="btn btn-info form-control" asp-page="ManageUsers" asp-route-id="@p.Id">Manage Users</a>
                    </td>
                </tr>
            }
        </table>

        <h4 class="text-info">Requests in queue</h4>
        <div class="col-12 border p-3">

            <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>

        <h4 class="text-info">Assigned tickets</h4>
        <div class="col-12 border p-3">

            <table id="DT_AT" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Created by</th>
                        <th>Assigned to</th>
                    </tr>
                </thead>
            </table>
        </div>
    }
    else
    {
        <p>There is no available projects</p>
    }
}

@section Scripts{
    <script src="~/js/poProjDetails.js"></script>
}

