@page 
@model BugTrackerWeb.Pages.ProjectOwnerView.TicketDetailsModel
@{

    if (Model.Ticket != null)
    {
        <p>@Model.ProjectId</p>
        <p>@Model.TicketId</p>

        <h2>@Model.Ticket.Title</h2>
        <label><b>Description</b></label>
        <br />
        <br />
        <tr>@Model.Ticket.Description</tr>
        <br />
        <br />
        <label><b>Author</b></label>
        <br />
        <br />
        <tr>@Model.Ticket.Author</tr>
        <br />
        <br />
        <label><b>Date</b></label>
        <tr>@Model.Ticket.Date</tr>
        <br />
        <br />
        <label><b>Type</b></label>
        <tr>@Model.Ticket.GetType()</tr>
        <br />
        <br />
        //Need to be hidden
        <p id="ticketId" style="display:none">@Model.Ticket.Id</p>
    }

    if (Model.AvailableQAs != null)
    {


        <table id="qas" class="table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AvailableQAs.Count; i++)
                {
                    <tr class="clickable-row">
                        <th scope="row">@(i+1)</th>
                        <td class="qaName">@Model.AvailableQAs.ElementAt(i).Name</td>
                        <td id="qaId" style="display:none">@Model.AvailableQAs.ElementAt(i).Id</td>
                    </tr>

                }
            </tbody>
        </table>
        <!--<form method="post">
            <input id="assignticket" type="submit" class="btn btn-danger btn-sm" value="Assign" />-->
        @*type="submit" asp-page-handler="AssignTicket" asp-route-ticketId=@Model.Ticket.Id asp-route-qaName=@Model.QaName*@
        <!--</form>-->
        <form method="post">
            <button id="assignticket" type="submit" class="btn btn-danger btn-sm" value="Assign" />
            @*<input type="submit" asp-page-handler="CheckAjax" asp-route-qaId=qaId value="Assign" />*@
        </form>

    }
}


@section Scripts{
    <script src="~/js/poTicketDetails.js"></script>
}
