@page
@model BugTrackerWeb.Pages.ProjectOwnerView.TicketDetailsModel

@using BugTracker.Models
@{
    <div class="container row p-0 m0">
        <div class="col-6">
            <h2 class="text-info">Ticket details</h2>
            <br />
            <h5>Title</h5>
            <span>@Model.TicketDetailsVm.Ticket.RequestItem.Title</span>
            <br />
            <h5>Created at</h5>
            <span>@Model.TicketDetailsVm.Ticket.Created</span>
        </div>
        <div class="col">
            <div id="comments">
                <h2 class="text-info">Comments</h2>
                @if (@Model.TicketDetailsVm.Ticket.Comments.Count == 0)
                {
                    <span>There is no comments yet.</span>
                }
                else
                {
                    @foreach (var i in @Model.TicketDetailsVm.Ticket.Comments)
                    {
                        <div style="border:double">
                            <span>@i.Created</span><br />
                            <span>@i.Text</span><br />
                            <span>@i.Author</span><br />
                        </div>
                    }
                }
                <div class="content">
                    <form id="add-comment" method="post">
                        <div class="form-group">
                            <input style="display:none" asp-for="@Model.AddCommentCommand.TicketId" value="@Model.TicketDetailsVm.Ticket.Id" />
                            <label asp-for="@Model.AddCommentCommand.Text" class="control-label">New comment</label>
                            <textarea asp-for="@Model.AddCommentCommand.Text" class="form-control"></textarea>
                        </div>
                        <input id="update-ticket" type="submit" class="btn btn-success text-white" value="Add comment" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}
