@page
@model BugTrackerWeb.Pages.ProjectOwnerView.TicketDetailsModel
@using BugTracker.Models
@{

    //This one works
    <label asp-for="AssignedTicket.TicketCategory"></label>
    <select asp-for="AssignedTicket.TicketCategory" asp-items=@Model.TicketCatDDLOptions>
    </select>
    <select asp-for="AssignedTicket.TicketCategory" asp-items=@Model.QAsList>
    </select>

    if (Model.Ticket != null)
    {
        <input id="TicketID" type="hidden" value="@Model.Ticket.Id" />

        <h2>@Model.Ticket.Title</h2>
        <label><b>Description</b></label>
        <br />
        <tr>@Model.Ticket.Description</tr>
        <br />
        <label><b>Author</b></label>
        <br />
        <tr>@Model.Ticket.Author</tr>
        <br />
        <label><b>Date</b></label>
        <tr>@Model.Ticket.Date</tr>
        <br />
        <label><b>Type</b></label>
        <tr>@Model.Ticket.GetType()</tr>
        <br />
        //Need to be hidden
        <p id="ticketId" style="display:none">@Model.Ticket.Id</p>

    }

    if (Model.AvailableQAs != null)
    {
        <table id="qas" class="table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AvailableQAs.Count; i++)
                {
                    <tr class="clickable-row">
                        <th scope="row">@(i+1)</th>
                        <td class="qaName">@Model.AvailableQAs.ElementAt(i).Name</td>
                        <td id="qaId" style="display:none">@Model.AvailableQAs.ElementAt(i).Id</td>
                    </tr>

                }
            </tbody>
        </table>
        <br />
        <form method="post">
            <input id="assignticket" type="submit" class="btn btn-success text-white" value="Assign" />
        </form>
    }

    @*FORM SECTION STARTER HERE *@
    <h3 class="text-info">Assign with details</h3>
    <div class=".container-sm" style="padding:30px;">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Check me*@
            <input type="hidden" asp-for="@Model.TicketId" value="@Model.Ticket.Id">
            <input type="hidden" asp-for="@Model.ProjectID" value="@Model.ProjectID">


            <div class="form-group">
                <label asp-for="AssignedTicket.Title" class="control-label"></label>
                <input asp-for="AssignedTicket.Title" class="form-control">
                @*<span asp-validation-for="AssignedTicket.Title" class="text-danger"></span>*@

            </div>

            <div class="form-group">
                <label asp-for="AssignedTicket.Description" class="control-label"></label>
                <input asp-for="AssignedTicket.Description" class="form-control">
                @*<span asp-validation-for="AssignedTicket.Description" class="text-danger"></span>*@

            </div>

            <div class="form-group">
                <label asp-for="AssignedTicket.TicketCategory" class="control-label"></label>
                <select asp-for="AssignedTicket.TicketCategory" class="form-control" asp-items="@Model.TicketCatDDLOptions"></select>
                <span asp-validation-for="AssignedTicket.TicketCategory" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="AssignedTicket.TicketPriority" class="control-label"></label>
                <select asp-for="AssignedTicket.TicketPriority" class="form-control" asp-items="@Model.TicketPriorDDLOptions"></select>
                <span asp-validation-for="AssignedTicket.TicketPriority" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="AssignedTicket.TicketStatus" class="control-label"></label>
                <select asp-for="AssignedTicket.TicketStatus" class="form-control" asp-items="@Model.TicketStatDDLOptions"></select>
                <span asp-validation-for="AssignedTicket.TicketStatus" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="@Model.QAsList" class="control-label"></label>
                <select asp-for="@Model.AssignedTicket.QaID" class="form-control" asp-items="@Model.QAsList"></select>
                <span asp-validation-for="@Model.AssignedTicket.QaID" class="text-danger"></span>

            </div>

            <div class="form-group">
                <input asp-page-handler="AssignTicketFromForm" type="submit" value="Assign Ticket" class="btn btn-secondary text-white" />
            </div>
        </form>
    </div>
    @*FORM SECTION ENDED HERE *@

}


@section Scripts{
    <script src="~/js/poTicketDetails.js"></script>
}


<!--<form method="post">
    <input id="assignticket" type="submit" class="btn btn-danger btn-sm" value="Assign" />-->
@*type="submit" asp-page-handler="AssignTicket" asp-route-ticketId=@Model.Ticket.Id asp-route-qaName=@Model.QaName*@
<!--</form>-->