@page
@model BugTrackerWeb.Pages.QAView.ProjectDetailsModel
@using BugTracker.Models.TicketProperties
<link rel="stylesheet" href="~/css/projectdetails.css" />

@{

    if (Model.TicketList != null)
    {
        <table id="tickets" class="table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">TicketPriority</th>
                    <th scope="col">RequestAuthor</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.TicketList.Count; i++)
                {
                    <tr class="clickable-row">
                        <th scope="row">@(i+1)</th>
                        <td>@Model.TicketList.ElementAt(i).Title</td>
                        <td>@Model.TicketList.ElementAt(i).Description</td>
                        <td>@Model.TicketList.ElementAt(i).TicketPriority</td>
                        <td>@Model.TicketList.ElementAt(i).RequestAuthor</td>
                        <td id="ticketId" style="display:none">@Model.TicketList.ElementAt(i).Id</td>
                    </tr>

                }
            </tbody>
        </table>
        <br />
    }
    else
    {
        <p>Ticket has not been loaded!</p>
    }
    <article class="selected-ticket">
        <div class="btn-container">
            <button class="tab-btn active" data-id="details">Ticket details</button>
            <button class="tab-btn" data-id="history">Ticket history</button>
            <button class="tab-btn" data-id="change-status">Change status</button>
        </div>
        <article class="selected-ticket-content">
            <!--single item-->
            <div class="content active" id="details">
                <h3>Ticket details</h3>

                <h5>Ticket title</h5>
                <li id="ticketTitle"></li>

                <h5>Description</h5>
                <li id="ticketPriority"></li>

                <h5>Ticket category</h5>
                <li id="ticketDescription"></li>

                <h5>Ticket priority</h5>
                <li id="ticketCategory"></li>

                <h5>Ticket status</h5>
                <li id="ticketStatus"></li>

                <h5>Author</h5>
                <li id="ticketAuthor"></li>
            </div>
            <!--end ofsingle item-->
            <!--single item-->
            <div class="content" id="history">
                <p>
                    History is not implemented yet!
                </p>
            </div>
            <!--end ofsingle item-->
            <!--single item-->
            <div class="content" id="change-status">
                <form id="edit_ticket" method="post">
                    <div class="form-group">
                        <label asp-for="EditedTicket.TicketStatus" class="control-label"></label>
                        <select asp-for="EditedTicket.TicketStatus" class="form-control" asp-items="Html.GetEnumSelectList<TicketStatus>()"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EditedTicket.Description">Description</label>
                        <input asp-for="EditedTicket.Description" class="form-control" />
                    </div>
                    <input id="update-ticket" type="submit" class="btn btn-success text-white" value="Update" />
                </form>
            </div>
            <!--end ofsingle item-->
        </article>
    </article>
}

@section Scripts{
    <script src="~/js/QaView/qaManageTicket.js"></script>
    <partial name="_ValidationScriptsPartial" />

}
