@page
@model BugTrackerWeb.Pages.QAView.ProjectDetailsModel
@{
    if (Model.TicketList!=null)
    {
        <h2>Your projects</h2>
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    <label asp-for="@Model.TicketList.FirstOrDefault().Title"></label>
                </th>
                <th>
                    <label asp-for="@Model.TicketList.FirstOrDefault().Description"></label>
                </th>
                <th>
                    <label asp-for="@Model.TicketList.FirstOrDefault().TicketPriority"></label>
                </th>
                <th>
                    <label asp-for="@Model.TicketList.FirstOrDefault().RequestAuthor"></label>
                </th>
            </tr>
            @foreach (var t in Model.TicketList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => t.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(m => t.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(m => t.TicketPriority)
                    </td>
                    <td>
                        @Html.DisplayFor(m => t.RequestAuthor)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h1>Project details have not been loaded</h1>
    }
}
