@model BugTracker.Models.Ticket
@{
    <label><b>Title</b></label>
    <br />
    <tr>@Model.Title</tr>
    <br />
    <label><b>Description</b></label>
    <br />
    <tr>@Model.Description</tr>
    <br />
    <br />
    <label><b>Category</b></label>
    <tr>@Model.TicketCategory</tr>
    <br />
    <label><b>Ticket status</b></label>
    <tr>@Model.TicketStatus</tr>
    <br />
    <label><b>Ticket priority</b></label>
    <tr>@Model.TicketCategory</tr>

}