@page
@model BugTrackerWeb.Pages.UserView.PendingRequestModel
@{
    <div class="container row p-0 m0">
        <div class="col-6">
            <h2 class="text-info">Pending requests</h2>
            @if (Model.PendingRequestItemsListVm.Requests.Count() > 0)
            {
                <table class="table">
                    <tr class="table-light">
                        <th>
                            <label asp-for="PendingRequestItemsListVm.Requests.FirstOrDefault().Title"></label>
                        </th>
                        <th>
                            <label asp-for="PendingRequestItemsListVm.Requests.FirstOrDefault().ProjectName"></label>
                        </th>
                    </tr>
                    @foreach (var item in Model.PendingRequestItemsListVm.Requests)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ProjectName)
                            </td>
                            <td>
                                <a asp-page="EditRequest" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                            <td>
                                <button data-id="@item.Id" class="btn btn-info btn-sm text-white show-details">Details</button>
                            </td>
                            <td>
                                <button onclick="Delete(@item.Id)" class="btn btn-danger btn-sm text-white">Delete</button>
                            </td>

                        </tr>
                    }
                </table>
            }
            else
            {
                <p>You don't have any tickets in processing</p>
            }
        </div>

        <div class="col">
            <h5 class="text-info">Request details</h5>
            <article id="ticketDetails">
                <span class="text-info">You haven't select any requet yet</span>
            </article>
        </div>
    </div>
    }

    @section Scripts{
        <script src="~/js/UserView/pendingReq.js"></script>

    }
